.field {
    height: auto;
    width: 100%;
}

.field:has(input:disabled) {
    opacity: 0.6;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground);
}

.container {
    height: auto;
    width: 100%;
    position: relative;
}

.icon {
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    font-size: var(--font-size-md);
    color: var(--foreground-light);
}

.select {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-grey);
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground);
    outline-color: var(--foreground);
    background-color: var(--background);
}

.field:has(.icon) .select {
    padding-left: 40px;
}

.field:has(.invalid) .label {
    color: var(--color-red);
}

.select.invalid {
    border-color: var(--color-red);
}