.button {
    height: 50px;
    width: auto;
    padding: 0 25px;
    border: 0;
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.button:disabled {
    opacity: .6;
}

.button.squared {
    padding: 0;
    width: 50px;
}

.button.primary {
    color: #fff;
    background-color: var(--color-primary);
}

.button.primary:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
}

.button.grey {
    color: var(--foreground);
    background-color: var(--color-grey);
}

.button.grey:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--color-grey-dark);
}

.button.white {
    color: var(--foreground);
    background-color: #fff;
}

.button.white:not(:disabled):hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .button {
        height: 40px;
    }

    .button.squared {
        width: 40px;
    }
}