.app {
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-grey);
    box-shadow: var(--shadow-soft);
    background-color: var(--background);
    animation: var(--animation-slide-down);
}

/* Header */
.header {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
}

.header .content {
    height: auto;
    width: 100%;
}

.header .appName {
    font-size: var(--font-size-md);
    font-weight: 700;
    color: var(--color-primary);
}

/* Step */
.step {
    height: auto;
    width: 100%;
    padding: 20px 0;
}

/* Footer */
.footer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}