.section {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.steps {
    height: auto;
    width: 100%;
}

.step {
    height: auto;
    width: 100%;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 5px 1fr;
    align-items: center;
    gap: 0;
    position: relative;
    overflow: visible;
}

.step.current {
    background-color: var(--background-light)
}

.step .bar {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: #fff;
}

.step .content {
    height: auto;
    width: 100%;
    padding: 20px;
}

.step .content .title {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--foreground);
}

.step .content .description {
    margin-top: 10px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground-light);
}

.step .content .title strong,
.step .content .description strong {
    color: var(--color-primary);
}