.section {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.steps {
    height: auto;
    width: 100%;
}

.step {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 10px 1fr;
    align-items: center;
    gap: 0;
    position: relative;
    z-index: 2;
    overflow: visible;
}

.step::before {
    content: '';
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    border-radius: var(--border-radius);
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    z-index: -1;
    transition: var(--transition-fast);
}

.step.current::before {
    background-color: var(--background-light)
}

.step .bar {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #fff;
}

.step .content {
    height: auto;
    width: 100%;
    padding: 20px;
}

.step .content .title {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--foreground);
}

.step .content .description {
    margin-top: 10px;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground-light);
}