.list {
    height: auto;
    width: 100%;
    list-style-type: none;
}

.item {
    height: auto;
    width: 100%;
    padding: 0 10px;
    display: block;
    position: relative;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    transition: var(--transition-fast);
}

.line {
    height: 100%;
    width: 100%;
    position: relative;
}

.line::before {
    content: '';
    height: 100%;
    width: 1px;
    margin-left: 5px;
    display: block;
    background-color: var(--color-grey);
}

.line::after {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: 42px;
    left: 0;
    border-radius: var(--border-radius);
    display: block;
    background-color: var(--color-grey);
}

.content {
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.time {
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--foreground-light);
}

.title {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-primary);
}

.description {
    margin-top: 10px;
    font-size: var(--font-size-sm);
    font-weight: 400;
    color: var(--foreground-light);
}