.banner {
  height: auto;
  width: 100%;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  animation: var(--animation-slide-down);
}

.banner .title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--foreground);
}

.banner .description {
  margin-top: 20px;
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--foreground-light);
}

.banner .title strong,
.banner .description strong {
  color: var(--color-primary);
}

.banner .image {
  height: auto;
  min-height: 40dvh;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--background-light);
}

.banner .image .img {
  height: 40dvh;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  object-fit: cover;
  object-position: top center;
}

.banner .actions {
  height: auto;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.banner a {
  display: inline-block;
}

.banner .preview {
  animation: var(--animation-slide-down-slow);
}

/* Vantaggi */
.advantages {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

.disclaimer {
  margin-top: 50px;
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--foreground);
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .banner {
    grid-template-columns: 2fr 1fr;
  }

  .banner .image {
    min-height: unset;
  }

  .banner .image .img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 20px 0;
    grid-template-columns: 1fr;
  }

  .banner .image .img {
    height: 250px;
  }
}